* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: "Lato, sans-serif";
    color: #ffffff;
}
#container {
    text-align: center;
    background-color: rgb(16, 12,109);
}
h1 {
    text-align: center;
    font-family: "Amatic SC", sans-serif;
    font-size: 3rem;
    margin-bottom: 0;
}
div#titleDetails {
    margin-bottom: 0;
    font-size: 3rem;
}
 #plandnia {
font-size: 2rem;
background-color: rgb(12, 12, 109);
font-family: "Amatic SC", sans-serif ;
 }